* {
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
}

body {
	background-color: lightgray;
	color: green;
	font: arial;
}

#game-canvas {
	width: 800px;
	height: 600px;
	border: solid 4px darkblue;
}
